.header {
    background: var(--gray-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3.3vw;
    font-size: 1.1rem;
    gap: 1rem;
}

.header .Logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header button {
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    color: var(--white);
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 18px;

    transition: background 0.3s;
}

.header button:hover{
    color: var(--yellow);
}

.header img{
    height: 2rem;
}