.post{
    
    background: var(--gray-800);
    padding: 2.8125rem 2.8125rem 1.6rem;
    border-radius: 8px;
}

.post + .post {
    margin-top: 2rem;
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time {
    font-size: 0.875rem;
    color: var(--gray-400);

}


.author{
    display: flex;
    gap: 1rem;
}

.authorinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}

.authorinfo strong{
    color: var(--gray-100);
}

.authorinfo span{
    color: var(--gray-400);
    font-weight: 400;
    font-size: 14px;
}

time{
    text-align: right;
    justify-content: right;
}

.avatar {
    box-sizing: initial;

    height: 3rem;
    width: 3rem;


    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}


.content {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content a{
    text-decoration: none;
    font-weight: bold;
    color: var(--green-500);
    transition: text-decoration 0.2s;
}

.content a:hover{
    text-decoration: underline;

}


.post footer{
    padding: 0;
}

.commentForm{
    width: 100%;
    margin-top: 1.5rem;
}

.post footer strong {
    display: block;
    text-align: left;
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm textarea {
    margin-top: 1rem;
    width: 100%;
    background: var(--gray-900);
    color: var(--white);
    border-radius: 8px;
    padding: 0.82rem 1rem;
    line-height: 1.4;
    font-size: 0.875rem;
    color: var(--gray-300);
}



.commentForm button[type="submit"]{
    display: flex;
    padding: 1rem 1.5rem;
    color: var(--white);
    background: var(--green-500);
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;


    transition: background 0.25s;
}

.commentForm button[type="submit"]:hover {
    background: var(--green-300);
}



.commentForm:focus-within .botao{
    visibility: visible;
    max-height: none;
}

.commentForm .botao{
    visibility: hidden;
    max-height: 0;
}